/*///////////////////////// FONTS  /////////////////////////*/
@font-face {
  		font-family: "GreyScaleBasicRegular";
  		src: url('../fonts/greyscalebasic_regular_macroman/Greyscale_Basic_Regular-webfont.ttf') format("truetype"),
  			url('../fonts/greyscalebasic_regular_macroman/Greyscale_Basic_Regular-webfont.eot'),
  			url('../fonts/greyscalebasic_regular_macroman/Greyscale_Basic_Regular-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/greyscalebasic_regular_macroman/Greyscale_Basic_Regular-webfont.woff') format('woff'),
        	url('../fonts/greyscalebasic_regular_macroman/Greyscale_Basic_Regular-webfont.svg#greyscalebasicregular') format('svg');
    	font-weight: normal;
    	font-style: normal;
		}
@font-face {
  		font-family: "GreyScaleBasicBold";
  		src: url('../fonts/greyscalebasic_bold_macroman/Greyscale_Basic_Bold-webfont.ttf') format("truetype"),
  			url('../fonts/greyscalebasic_bold_macroman/Greyscale_Basic_Bold-webfont.eot'),
  			url('../fonts/greyscalebasic_bold_macroman/Greyscale_Basic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/greyscalebasic_bold_macroman/Greyscale_Basic_Bold-webfont.woff') format('woff'),
        	url('../fonts/greyscalebasic_bold_macroman/Greyscale_Basic_Bold-webfont.svg#greyscalebasicregular') format('svg');
    	font-weight: normal;
    	font-style: normal;
		}
@font-face {
  		font-family: "GreyScaleBasicBoldItalic";
  		src: url('../fonts/greyscalebasic_bolditalic_macroman/Greyscale_Basic_Bold_Italic-webfont.ttf') format("truetype"),
  			url('../fonts/greyscalebasic_bolditalic_macroman/Greyscale_Basic_Bold_Italic-webfont.eot'),
  			url('../fonts/greyscalebasic_bolditalic_macroman/Greyscale_Basic_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/greyscalebasic_bolditalic_macroman/Greyscale_Basic_Bold_Italic-webfont.woff') format('woff'),
        	url('../fonts/greyscalebasic_bolditalic_macroman/Greyscale_Basic_Bold_Italic-webfont.svg#greyscalebasicregular') format('svg');
    	font-weight: normal;
    	font-style: normal;
		}
@font-face {
  		font-family: "GreyScaleBasicItalic";
  		src: url('../fonts/greyscalebasic_italic_macroman/Greyscale_Basic_Regular_Italic-webfont.ttf') format("truetype"),
  			url('../fonts/greyscalebasic_italic_macroman/Greyscale_Basic_Regular_Italic-webfont.eot'),
  			url('../fonts/greyscalebasic_italic_macroman/Greyscale_Basic_Regular_Italic-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/greyscalebasic_italic_macroman/Greyscale_Basic_Regular_Italic-webfont.woff') format('woff'),
        	url('../fonts/greyscalebasic_italic_macroman/Greyscale_Basic_Regular_Italic-webfont.svg#greyscalebasicregular') format('svg');
    	font-weight: normal;
    	font-style: normal;
		}
@font-face {
	font-family: 'EcoIcon';
	src:url('../fonts/ecoicons/ecoicon.eot');
	src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ecoicons/ecoicon.woff') format('woff'),
		url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
		url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-iv8jso');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-iv8jso') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-iv8jso') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-iv8jso') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-iv8jso#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.sidebar {
    background-color:#f0b169;
}
/*///////////////////////// ROWS, COLUMNS  /////////////////////////*/
.row{
	background-color:#cc7231;

}
.leftColumn{
  z-index : 2;
  float : left;
	font-family:'GreyScaleBasicRegular';
	position : fixed;
	margin-left: -5px;
	top: 0;
	bottom: 0;
	left: 0px;
	width: 35%;
	max-width: 385px;
	padding: 3rem 2rem 2rem ;
	background-color:rgba(240, 177, 105, 0.85);
}
.leftColumn:hover{
margin-left: 0px;
-webkit-transition: -webkit-transform 0.5s, margin-left 0.5s;
	-moz-transition: -moz-transform 0.5s, margin-left 0.5s;
	transition: transform 0.5s, margin-left 0.5s;
}
.leftColumn:before{
margin-left: -5px;
}
.leftColumn:after{
margin-left: 0px;
-webkit-transition: -webkit-transform 0.5s, margin-left 0.5s ease-in-out;
	-moz-transition: -moz-transform 0.5s, margin-left 0.5s ease-in-out;
	transition: transform 0.5s, margin-left 0.5s ease-in-out;

}
.leftColumn img{
	padding-left: 35px;
	width:auto;
	height:40%;
	margin-left:auto;
	margin-right:auto;

}
.rightColumn{
   z-index : 0;
  float: right;
	font-family:'GreyScaleBasicRegular';
	position : fixed;
	width: 100%;
  height:100%;
	padding-left: 0;
	max-width: 900;
}

.rightColumn .container{
    width: 100%;
  height:100%;
  background-color:#dfd295;
}
.rightColumn .img{
	opacity: 0.7;
-webkit-transition: opacity 0.35s;
transition: opacity 0.35s;
max-width:100%;
min-height:100%;
}

.rightColumn .container{
    width: 100%;
  height:100%;
  background-color:#dfd295;
}

.sidebar {
    background-color:#f0b169;
    box-shadow:10px 10px 50px 5px black;
}
.footer-left{
   position:absolute;
   bottom:0;
   width:100%;
   height:200px;
   padding-right: 2rem;
}
.footer-left-icon{
   padding-right: 10px;
}

/*///////////////////////// BUTTONS /////////////////////////*/
.btn-group {
/*	-moz-box-shadow: 5px 5px 28px -7px #000000;
	-webkit-box-shadow: 5px 5px 28px -7px #000000;
	box-shadow: 5px 5px 28px -7px #000000;
    color:#000000;*/
	background-color:#f0b169;
	cursor:pointer;
	font-size:36px;
  color:white;
  padding:7px 25px;
	text-decoration:none;
  position : absolute;
  margin-right : 0%;
  margin-top : 40%;
  opacity: 0.8;
}

.btn-default-stanley{

}
.btn-group:hover {
	background-color:#cc7231;
}
.btn-group:active {

}
.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: -5px 3px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	text-decoration: none;
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'icomoon';
	speak: none;
	font-size: 48px;
	line-height: 60px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* --- */
.hi-icon-googleplus:before {
	content: "\e60b";
}
.hi-icon-googleplus:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-facebook:before {
	content: "\e60c";
}
.hi-icon-facebook:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-twitter:before {
	content: "\e60d";
}
.hi-icon-twitter:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-github:before {
	content: "\e60e";
}
.hi-icon-github:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-home:before {
	content: "\e600";
}
.hi-icon-home:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-undo:before {
	content: "\e601";
}
.hi-icon-undo:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-expand:before {
	content: "\e602";
}
.hi-icon-expand:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-contract:before {
	content: "\e603";
}
.hi-icon-contract:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-wink:before {
	content: "\e604";
}
.hi-icon-wink:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-play:before {
	content: "\e605";
}
.hi-icon-play:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-pause:before {
	content: "\e606";
}
.hi-icon-pause:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-stop:before {
	content: "\e607";
}
.hi-icon-stop:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-arrow-right:before {
	content: "\e608";
}
.hi-icon-arrow-right:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-arrow-left:before {
	content: "\e609";
}
.hi-icon-arrow-left:hover{
	text-decoration: none;
}
/* --- */
.hi-icon-mail:before {
	content: "\e60a";
}
.hi-icon-mail:hover{
	text-decoration: none;
}
.stanley-please{
	text-align: center;
	padding-left: 12%;
	padding-top: 22%;
	width:100%;
}
.stanley-title{
padding-top: 25%;

}
/*///////////////////////// BUTTON EFFECT /////////////////////////*/

.hi-icon-effect-1 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #cc7231;
}

.hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
/*///////////////////////// PROGRESS BAR /////////////////////////*/
#progressbar {
  background-color: #140e09;
  border-radius: 0px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}
#progressbar > div {
   background-color: #cc7231;
   width: 40%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 0px;
}
/*///////////////////////// TEXT STYLES /////////////////////////*/
h1{
		font-family: 'GreyScaleBasicRegular';
		color: #FFFFFF;
        padding: 4em 1% 0;
        font-weight: 800;
		font-size: 23px;
}
h1 span{
	font-family: 'GreyScaleBasicBold';
	font-size: 30px;
}
h2{
		font-family: 'GreyScaleBasicRegular';
		color: #FFFFFF;
        font-size:13px;
        padding: 2em 1% 0;
        
}
h2 span{
	font-family: 'GreyScaleBasicBold';
	text-decoration:underline;
}
h3{
		font-family: 'GreyScaleBasicRegular';
		color: #140E09;
    font-size:13px;     
}
h4{
color: #140E09;
}
p{

}
p span{

}

#textInput {
  display : block;
  position:absolute;
  font-size:28px;
  clear : both;
  width: 60%;
  height: 30%;
  margin-left : 10%;
  margin-top : 5%;
  resize: none;
}

label {
  display : block;
  position:absolute;
  clear : both;
  font-size:36px;
  margin-left : 10%;
  margin-top : 2%;
}

#myCounter {
  display : block;
  position:absolute;
  clear : both;
  font-size:20px;
  margin-left : 10%;
  margin-top : 20%;
}
/*///////////////////////// BACKGROUND IMAGE /////////////////////////*/
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
/*/////////////////////////       END      /////////////////////////*/


