<!DOCTYPE HTML>
<html>
    <head>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>   

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/stylesheets/stanley.css">

    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="leftColumn">
                <img src="public/images/StanleyTransparent2.png" alt="Stanley" height="auto" width="250px" />
                <h3>Silence please,</h3>
                <h1><strong>STANLEY</strong> is working !</h1>
                    <a href="index.html"><button type="button" class = "btn-group"><img src="public/images/Home.png" height="50px" width="50px"/></button></a>
                    <a href="tell_me_about_your_movie.html"><button type="button" class = "btn-group"><img src="public/images/Undo.png" height="50px" width="50px"/></button></a>
                </div>               

            </div>
            <div class="rightColumn">
                 <div id="progressbar">
                 <div></div>
                </div>

            </div>
        </div>
    </div>
    </body>
</html>
