<!DOCTYPE HTML>
<html>
    <head>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Stanley theme -->
    <link rel="stylesheet" href="public/stylesheets/stanley.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>   

    <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
    <div class="container">
<!--         <div class="row">
 -->            <div class="leftColumn">
                <img src="public/images/StanleyTransparent.png" alt="Stanley" height="auto" width="200px" />
                
                <h2>TELL ME ABOUT YOUR MOVIE !</h2>
                <!--
                <h3>Write the synopsis of your movie, for example :</h3>

                <p>"Once upon a time there was a very pretty and young princess, wanted to marry the prince of her dreams. One day she secretly travelled to Everland to see the prince she had always dreamed with. But met a powerful witch called Evelyn on the way that changed her into a frog..."</p>
            -->

                <!-- <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn-default-stanley"><img src="public/images/Facebook.png" height="50px" width="50px"/></button>
                    <button type="button" class="btn-default-stanley"><img src="public/images/Twitter.png" height="50px" width="50px"/></button>
                    <button type="button" class="btn-default-stanley"><img src="public/images/Google.png" height="50px" width="50px"/></button>
                </div>               

                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><img src="public/images/Home.png" height="50px" width="50px"/></button>
                    <button type="button" class="btn btn-default"><img src="public/images/Undo.png" height="50px" width="50px"/></button>
                </div>    -->            
                <h4>Contact</h4>
            </div>
            <div class="rightColumn">
                <center>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <textarea class="textInput" rows="4" cols="50" placeholder="Write the synopsis of your movie, for example : Once upon a time there was a very pretty and young princess, wanted to marry the prince of her dreams...">
                        </textarea>

                    </div>
                    <a href="stanley_is_working.html"><button type="button" class = "btn-group">Generate Trailer</button></a>
                </form>
            </center>
             </div>

<!--         </div>
 -->    </div>
    </body>
</html>
