<!DOCTYPE HTML>
<html>
    <head>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>   

    <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="public/images/StanleyTransparent.png" alt="Stanley" height="300px" width="300px" />
                <h3>Here's your teaser kid,</h3>
                <h1><strong>ENJOY AND SHARE IT !</strong></h1>

                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><img src="public/images/Facebook.png" height="50px" width="50px"/></button>
                    <button type="button" class="btn btn-default"><img src="public/images/Twitter.png" height="50px" width="50px"/></button>
                    <button type="button" class="btn btn-default"><img src="public/images/Google.png" height="50px" width="50px"/></button>
                </div>               


                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><img src="public/images/Home.png" height="50px" width="50px"/></button>
                    <button type="button" class="btn btn-default"><img src="public/images/Undo.png" height="50px" width="50px"/></button>
                </div>               

                <h4>Contact</h4>
            </div>
        </div>
    </div>
    </body>
</html>
