<!DOCTYPE HTML>
<html>
    <head>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>   

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/stylesheets/stanley.css">

    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="leftColumn">
                <img src="public/images/StanleyTransparent.png" alt="Stanley" height="auto" width="200px" />
                <h3>Here's your teaser kid,</h3>
                <h1><strong>ENJOY AND SHARE IT !</strong></h1>          


                    <a href="index.html"><button type="button" class = "btn-group"><img src="public/images/Home.png" height="50px" width="50px"/></button></a>
                    <a href="tell_me_about_your_movie.html"><button type="button" class = "btn-group"><img src="public/images/Undo.png" height="50px" width="50px"/></button></a>          

                                <div class="footer-left">
                    <h2>Share your creations with your friends on Facebook, Twitter or Google+. Get the code on Github or Contact Us</h2>

                    <!-- <div class="btn-group" role="group" area-label="...">
                    <button type="button" class="btn btn-default"><img src="../../static/img/Facebook.png" height="50px" width="50px"/></button>
                    <button type="button" class="btn btn-default"><img src="../../static/img/Twitter.png" height="50px" width="50px"/></button>
                    <button type="button" class="btn btn-default"><img src="../../static/img/Google.png" height="50px" width="50px"/></button>
                    </div>   --> 
                    
                    <div class="footer-left-icon">
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">   
                        <a href="#facebook" class="hi-icon hi-icon-facebook">Facebook</a>
                        <a href="#twitter" class="hi-icon hi-icon-twitter">Twitter</a>
                        <a href="#google" class="hi-icon hi-icon-googleplus">Google +</a>
                        <a href="#github" class="hi-icon hi-icon-github">Github</a>
                        <a href="#contact" class="hi-icon hi-icon-contactus">Contact</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
