<!DOCTYPE HTML>
<html>
    <head>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>   

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/stylesheets/stanley.css">
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="leftColumn">
                <img src="../../static/img/StanleyTransparent.png" alt="Stanley" height="300px" width="300px" />
                <h1>Welcome to <strong>Stanley</strong></h1>
                <p><strong>STANLEY</strong> is an intelligent app that turns all your movie fantasies into real video teasers.</p>
                <p>Share your creations with your friends on Facebook, Twitter or Google+</p>

                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><img src="static/img/Facebook.png" height="50px" width="50px"/></button>
                    <button type="button" class="btn btn-default"><img src="static/img/Twitter.png" height="50px" width="50px"/></button>
                    <button type="button" class="btn btn-default"><img src="static/img/Google.png" height="50px" width="50px"/></button>
                </div>               


                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><img src="../../static/img/Home.png" height="50px" width="50px"/></button>
                    <button type="button" class="btn btn-default"><img src="../../static/img/Undo.png" height="50px" width="50px"/></button>
                </div>               

                <h4>Contact</h4>
            </div>
        </div>
    </div>
    </body>
</html>
